<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Event observer for cart item addition - Display/UI handling -->
    <event name="checkout_cart_product_add_after">
        <observer name="insead_events_cart_product_add" instance="Insead\Events\Observer\EventCartItemUpdateObserver" />
    </event>
    
    <!-- Event observer for cart update -->
    <event name="sales_quote_item_set_product">
        <observer name="insead_events_quote_item_set_product" instance="Insead\Events\Observer\EventCartItemUpdateObserver" />
    </event>
    
    <!-- Observer to handle order placement -->
    <event name="checkout_onepage_controller_success_action">
        <observer name="insead_events_order_placed" instance="Insead\Events\Observer\OrderPlacedObserver" />
    </event>
</config>