<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vishal" translate="label" sortOrder="300">
            <label>Vishal</label>
        </tab>
        <section id="vishal_events" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Events Management</label>
            <tab>vishal</tab>
            <resource>Vishal_Events::config_events</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the Events module</comment>
                </field>
                <field id="list_title" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events List Title</label>
                    <comment>Title displayed on events listing page</comment>
                </field>
                <field id="list_meta_title" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events List Meta Title</label>
                    <comment>Meta title for events listing page</comment>
                </field>
                <field id="list_meta_keywords" translate="label comment" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events List Meta Keywords</label>
                    <comment>Meta keywords for events listing page</comment>
                </field>
                <field id="list_meta_description" translate="label comment" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events List Meta Description</label>
                    <comment>Meta description for events listing page</comment>
                </field>
                <field id="items_per_page" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items Per Page</label>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <comment>Number of events to display per page</comment>
                </field>
                <field id="url_prefix" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Prefix</label>
                    <comment>URL prefix for events (default: events)</comment>
                </field>
            </group>
        </section>
    </system>
</config>