<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Catalog::catalog">
                    <resource id="Vishal_Events::events" title="Events" sortOrder="50">
                        <resource id="Vishal_Events::event" title="Manage Events" sortOrder="10" />
                        <resource id="Vishal_Events::event_save" title="Save Event" sortOrder="20" />
                        <resource id="Vishal_Events::event_delete" title="Delete Event" sortOrder="30" />
                        <resource id="Vishal_Events::config" title="Configuration" sortOrder="40" />
                    </resource>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Vishal_Events::config_events" title="Events Section" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>