<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Event Repositories -->
    <preference for="Vishal\Events\Api\Data\EventInterface" type="Vishal\Events\Model\Event" />
    <preference for="Vishal\Events\Api\Data\EventTicketInterface" type="Vishal\Events\Model\EventTicket" />
    
    <!-- Entity Manager Configuration -->
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Vishal\Events\Api\Data\EventInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">vishal_events</item>
                    <item name="identifierField" xsi:type="string">event_id</item>
                </item>
                <item name="Vishal\Events\Api\Data\EventTicketInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">vishal_event_tickets</item>
                    <item name="identifierField" xsi:type="string">ticket_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Vishal\Events\Api\Data\EventInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">Vishal\Events\Model\ResourceModel\Event\Relation\Store</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    
    <!-- Data Source for UI Listing -->
    <virtualType name="VishalEventsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Vishal\Events\Ui\Component\Listing\DataProvider\Event\Collection</argument>
            <argument name="filterPool" xsi:type="object">EventGirdFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="EventGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="events_event_listing_data_source" xsi:type="string">Vishal\Events\Model\ResourceModel\Event\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Vishal\Events\Model\ResourceModel\Event\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">vishal_events</argument>
            <argument name="eventPrefix" xsi:type="string">vishal_events_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">event_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Vishal\Events\Model\ResourceModel\Event</argument>
        </arguments>
    </type>
</config>