<?xml version="1.0"?>
<!--
module.xml
Path: app/code/Vishal/Events/etc/module.xml
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Vishal_Events">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Store"/>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>