<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Event Repository -->
    <preference for="Vishal\Events\Api\EventRepositoryInterface" type="Vishal\Events\Model\EventRepository" />
    <preference for="Vishal\Events\Api\Data\EventInterface" type="Vishal\Events\Model\Event" />
    <preference for="Vishal\Events\Api\Data\EventSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    
    <!-- Time Slot Resource -->
    <type name="Vishal\Events\Helper\Data">
        <arguments>
            <argument name="timeSlotResource" xsi:type="object">Vishal\Events\Model\ResourceModel\Event\TimeSlot</argument>
        </arguments>
    </type>
    
    <!-- Collection Processor -->
    <virtualType name="Vishal\Events\Model\Api\SearchCriteria\EventCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    
    <type name="Vishal\Events\Model\EventRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Vishal\Events\Model\Api\SearchCriteria\EventCollectionProcessor</argument>
        </arguments>
    </type>
    
    <!-- Grid Collection -->
    <virtualType name="Vishal\Events\Model\ResourceModel\Event\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vishal_events</argument>
            <argument name="resourceModel" xsi:type="string">Vishal\Events\Model\ResourceModel\Event</argument>
        </arguments>
    </virtualType>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="events_listing_data_source" xsi:type="string">Vishal\Events\Model\ResourceModel\Event\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <!-- UI DataProvider -->
    <type name="Vishal\Events\Ui\DataProvider\Event\Form\EventDataProvider">
        <arguments>
            <argument name="eventResource" xsi:type="object">Vishal\Events\Model\ResourceModel\Event</argument>
        </arguments>
    </type>
</config>